body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(245, 245, 245);
}

.midBar {
  display: flex;
  background-color: rgb(245, 245, 245);
  margin-top: 10px;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.miniCards {
  background-color: rgb(245, 245, 245);
  width: 100%;
  display: flex;
  gap: 10px;
}

.miniCards div {
  flex-basis: 16.66667%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;

}

.graphContainer {
  margin-top: 20px;
  height: 400px;
  background-color: white;
}

.bigCards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.bigCards div {
  /* width:32%; */
  background-color: white;
}
.card-1 {
  width: 30%;
  padding: 20px;
}
.card-2 {
  width: 30%;
  padding: 20px;

}
.card-3 {
  width: 30%;
  padding: 20px;
  background: white;

}
.card-4 {
  padding: 20px;
  background: white;

  width: 30%;
}

.card-Head {
  display: flex;
}

.headLeft {
  margin-right: auto;
}

.viewD {
  color: blue;
}
.Group {
  display: flex;
  box-shadow: 0px 1px 0px rgba(147, 145, 145, 0.3);
}

.group {
  margin-right: auto;
}

.esc {
    display: flex;
}

.rightEsc{
    margin-right: auto;
}

.cardPair-1{
  display: flex;
  position: relative;
}
.cardPair-1 div{
  width: 50%;
}

.cardPair-2 div{
  width: 50%;
}

.cp2{
  position: absolute;
    right: 0;
  
}

.cardPair-2{
  display: flex;
  position: relative;
}

.cp4{
  position: absolute;
    right: 0;
    width: 50%;
}
.message{
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

.To-do{
  fill: green;
}
.noToDo{
  width: 40px;
  height: 40px;
}

.Todo-container{
  color: gray; 
}

.approval span{
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap:10px;
}
.spam span{
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap:10px;
}